html, body {margin:0; padding:0;}
h1 {padding:10px;}
ul.mainmenu {
list-style:none;
background: #3F4137
height:60px;
margin:0px;
padding:0px;
color:#fdc073;
font_size:26px;
overflow:hidden;
}
ul.mainmenu li {
float:left;
margin: 10px 40px 0px 50px;

}
ul.mainmenu li .last{
float:right;
}
ul.mainmenu a {color:#8785A2;}

.flash {padding:10px;}
.flash.success{ border: 1px solid #ADFF2F;background:#000000}
.flash.error{ border: 1px solid #FF0000;background:	#000000}